#primary_canvas{
    width: 1500px;
    height: 1000px;
    border: 1px  black;
    will-change: transform;
    -webkit-transform: translateZ(0); 
    transform:trasnlateZ(0);
    z-index: 1;
    position: fixed;
}

